body {
    background-color: #f2f2f2; /* Cambié el fondo a un gris más suave */
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #ffffff; /* Fondo blanco */
    max-width: 400px;
    margin: 0;
    padding: 20px;
    border-radius: 8px; /* Aumenté el radio del borde */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #000000; /* Texto rojo */
    font-size: 24px; /* Tamaño de fuente aumentado */
}

form {
    margin-top: 20px;
}

.form-group {
    text-align: left; /* Alinear el texto a la izquierda para una mejor legibilidad */
    margin-bottom: 15px;
}

label {
    color: #000000; /* Texto rojo */
    display: block;
    font-weight: bold; /* Hacer el texto en negrita */
}

input {
    width: 86%; /* Ancho completo */
    padding: 10px;
    border: 1px solid #000000; /* Borde rojo */
    border-radius: 3px;
    outline: none; /* Eliminar el resaltado en el enfoque */
}

button {
    background-color: #C51E1E; /* Fondo rojo */
    color: #ffffff; /* Texto blanco */
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ff5050; /* Cambiar a un tono de rojo más claro al pasar el ratón */
}

/* Estilos para el logo y la imagen de usuario (ajusta los selectores según sea necesario) */
.logo {
    width: 100px;
    height: 100px;
    /* Agrega propiedades de estilo específicas para tu logo aquí */
}

.user-image {
    width: 80px;
    height: 80px;
    border-radius: 50%; /* Para hacer que la imagen de usuario sea circular */
    /* Agrega propiedades de estilo específicas para la imagen de usuario aquí */
}
