/* Estilos para .card-body .bd-yellow-300 */
.card-body .bd-yellow-300 {
    color: #373737;
    background-color: #ffda6a;
}

.card-body .bd-yellow-300:hover {
    color: #373737;
    background-color: #ffcd39;
}

/* Estilos para .card */
.card {
    height: 100%;
}

/* Estilos para #contentLearningResults */
#contentLearningResults {
    position: relative;
    margin-top: 2%;
}

/* Estilos para #topPagination y #bottomPagination */
#topPagination, #bottomPagination {
    margin-top: 3%;
}

/* Estilos para .navbar */
.navbar {
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 2%, rgba(255, 218, 106, 1) 35%, rgba(253, 122, 67, 1) 100%);
    box-shadow: 0 0 40px rgba(51, 51, 51, .1);
}

/* Otros estilos CSS aquí */

/* Estilos para footer */
footer {
    background-color: #D9D9D9;
    position: inherit;
    width: -webkit-fill-available;
    bottom: 0;
    width: 100%;
    height: 40px;
}

footer p {
    position: relative;
    margin-top: 1%;
}
