body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

header {
  background-color: #0073e6;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}
   
@media (min-width: 768px) {
  .gradient-form {
  height: 100vh !important;
  }
  }
  @media (min-width: 769px) {
  .gradient-custom-2 {
  border-top-right-radius: .3rem;
  border-bottom-right-radius: .3rem;
  }
}
header h1 {
  font-size: 36px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

main {
  margin: 20px;
}

.intro {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.intro h2 {
  font-size: 24px;
  color: #333;
}

.featured-courses {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.course {
  width: 45%;
  margin: 10px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.course img {
  max-width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.course h3 {
  font-size: 20px;
  color: #333;
}

footer {
  background-color: #0073e6;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

footer a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #ff6600;
}
#logout-button {
    display: block; /* Hacer que el enlace ocupe todo el ancho del menú */
    padding: 10px; /* Añadir relleno para un área de clic más grande */
  color: #000; /* Cambiar el color del ícono a negro (ajústalo según tus preferencias) */
  font-size: 24px; /* Aumenta el tamaño del ícono a 24px (ajústalo según tus preferencias) */
}

#logout-button:hover {
  cursor: pointer;
  color: rgb(38, 0, 255); /* Cambiar el color del ícono cuando se pasa el cursor sobre él (ajústalo según tus preferencias) */
}
 /* Estilo para el menú de usuario */
 #user-menu {
    position: absolute;
    right: 50px; /* Coloca el menú a 50px del lado derecho */
    top: 0; /* Coloca el menú en la parte superior */
}
 /* Estilo para el menú desplegable */
 #lista {
    display: none;
    position: absolute;
    background-color: #20188f;
    border: 1px solid #ccc;
    list-style: none;
    padding: 0;
}

#lista li {
    padding: 5px 10px;
    cursor: pointer;
}

/* Agregar un efecto de sombra al menú desplegable */
#lista {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
#planes-trabajo-dropdown {
  display: none;
  position: absolute;
  background-color: #20188f;
  border: 1px solid #ccc;
  list-style: none;
  padding: 0;
  margin-top: 5px; /* Espacio entre "Planes de trabajo" y la lista desplegable */
}

#planes-trabajo-dropdown li {
  padding: 5px 10px;
  cursor: pointer;
}

/* Agregar un efecto de sombra al menú desplegable */
#planes-trabajo-dropdown {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

