body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0073e6;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    font-size: 36px;
}

main {
    margin: 20px;
    text-align: center;
}

#filters {
    margin-bottom: 20px;
}

#chart-container {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
}

.back-to-top {
    background-color: #0073e6;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.back-to-top:hover {
    background-color: #005bae;
}
