body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

header {
  background-color: #0073e6;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

header h1 {
  font-size: 36px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

main {
  margin: 20px;
}

.intro {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.intro h2 {
  font-size: 24px;
  color: #333;
}

.featured-courses {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.course {
  width: 45%;
  margin: 10px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.course img {
  max-width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.course h3 {
  font-size: 20px;
  color: #333;
}

footer {
  background-color: #0073e6;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

footer a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #ff6600;
}
#logout-button {
  float: right; /* Alinea el botón a la derecha */
  color: #000; /* Cambiar el color del ícono a negro (ajústalo según tus preferencias) */
  font-size: 24px; /* Aumenta el tamaño del ícono a 24px (ajústalo según tus preferencias) */
  vertical-align: middle; /* Alinea verticalmente el ícono al centro */
}

#logout-button:hover {
  cursor: pointer;
  color: #f00; /* Cambiar el color del ícono cuando se pasa el cursor sobre él (ajústalo según tus preferencias) */
}

