.card-body .bd-yellow-300 {
  color: #373737;
  background-color: #ffda6a;
}

.card-body .bd-yellow-300:hover {
  color: #373737;
  background-color: #ffcd39;
}

.card{
  height: 100%;
}

#contentLearningResults{
  position: relative;
  margin-top: 2%;
}

#topPagination{
  margin-bottom: 3%;
}

#bottomPagination{
  margin-top: 3%;
}

.navbar{
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 2%, rgba(255,218,106,1) 35%, rgba(253,122,67,1) 100%);
  box-shadow: 0 0 40px rgba(51, 51, 51, .1);
}

content{
  margin-bottom: 4%;
}

#search-bar{
  position: relative;
  margin-top: 4%;
}

#page-title{
  margin-top: 3%;
  margin-bottom: 3%;
}

html, body 
{ 
height: 100%;
overflow-x: hidden
}

#card-content-page{
  margin-top: 3%;
}

#card-body-page{
  margin-top: 2%;
  margin-bottom: 2%;
}

.dt-buttons{
  margin-top: 1%;
  margin-bottom: 1%;
}

.bg-secondary, .bg-success, .bg-danger {
  color: #fff!important;
}

.small-box {
  border-radius: 0.25rem;
  box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
  display: block;
  margin-bottom: 20px;
  position: relative;
}

.small-box>.inner {
  padding: 10px;
}

.white-text {
    color: white;
}

.small-box .icon {
  color: rgba(0,0,0,.15);
  z-index: 0;
}

.small-box .icon>i {
  font-size: 90px;
  position: absolute;
  right: 15px;
  top: 15px;
  transition: -webkit-transform .3s linear;
  transition: transform .3s linear;
  transition: transform .3s linear,-webkit-transform .3s linear;
}

.small-box .icon>i.fa {
  font-size: 50px;
  top: 20px;
}

#widgets-sts{
  margin-top: 2%;
}

#general-title{
  margin-top: 3%;
}

#charts{
  padding-top: 3%;
}

#back-link{
  text-decoration:none
}

.card-initial-page{
  display: inline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* number of lines to show */
  -webkit-box-orient: vertical;
  position: relative;
}

.card-initial-page::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 24px;
  background-color: #fff;
  z-index: 1;
}

.card-initial-page div {
  background-color: #fff;
  display: inline;
  position: relative;
}

.card-initial-page div::after {
  content: "";
  background-color: #fff;
  position: absolute;
  bottom: -24px;
  left: 0;
  width: 100%;
  height: 24px;
  z-index: 2;
}

.card-initial-page button::before {
  content: "Ver ma\301s";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.card-body #view-subjects{
  margin-top: 6%;
}

#descriptionLRModal{
  text-align: justify;
}

span#search-addon{
  background: none;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  margin: 0;
  margin-bottom: 40px;
}

footer {
  background-color: #D9D9D9;
  position: inherit;
  width: -webkit-fill-available;
  bottom: 0;
  width: 100%;
  height: 40px;
}

footer p {
  position: relative;
  margin-top: 1%;
}

.gradient-custom-2 {
  /* fallback for old browsers */
  background: #fccb90;
  
  /* Chrome 10-25, Safari 5.1-6 */
  /*background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);*/
  background: -webkit-linear-gradient(to right, #FFFFFF, 	#FFDA6A, #dd3675, #b44593);
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(255,255,255,1) 2%, rgba(255,218,106,1) 35%, rgba(253,122,67,1) 100%);
  }
  
  @media (min-width: 768px) {
  .gradient-form {
  height: 100vh !important;
  }
  }
  @media (min-width: 769px) {
  .gradient-custom-2 {
  border-top-right-radius: .3rem;
  border-bottom-right-radius: .3rem;
  }
}

#ButtonLogin{
  width:100%;
  color:black;
}

.nav-item form:hover{
  transform: scale(1.02);
}

.nav-item a:hover{
  transform: scale(1.02);
}

#menuBtns{
  text-decoration: none;
  color: rgba(0,0,0,.55);
}

#formConceptualTools, #formAreaLearningResult, #formAreaStudyObject, #formAreaResource, #formAreaThoughts {
  padding-bottom: 4%;
}

#logout-button {
  display: block; /* Hacer que el enlace ocupe todo el ancho del menú */
  padding: 10px; /* Añadir relleno para un área de clic más grande */
color: #000; /* Cambiar el color del ícono a negro (ajústalo según tus preferencias) */
font-size: 24px; /* Aumenta el tamaño del ícono a 24px (ajústalo según tus preferencias) */
}

#logout-button:hover {
cursor: pointer;
color: rgb(38, 0, 255); /* Cambiar el color del ícono cuando se pasa el cursor sobre él (ajústalo según tus preferencias) */
}

.card-body .bd-yellow-300 {
  color: #373737;
  background-color: #ffda6a;
}

.card-body .bd-yellow-300:hover {
  color: #373737;
  background-color: #ffcd39;
}
/* Estilos generales */


/* Estilos para la sección de introducción */
.intro {
  margin-bottom: 20px;
}

h4 {
  color: #333;
}

p {
  line-height: 1.5;
}

/* Estilos para la sección de cursos destacados */
.featured-courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.course {
  flex: 0 0 calc(50% - 10px);
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

h4 {
  color: #333;
}

p {
  color: #000000;
}

a {
  text-decoration: none;
  color: #0078d4;
}

a:hover {
  text-decoration: underline;
}

/* Estilos para el pie de página */
footer {
  text-align: center;
  margin-top: 20px;
}

footer p {
  color: #666;
}
